.input {
  position: relative;
  margin: 6rem 0 3rem 0;
}

.input input {
  position: relative;
  width: 100%;
  outline: none;
  padding: 1.1rem 6rem 1.1rem 1.2rem;
  font-size: 1.05rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1rem 1rem 3rem rgba(69, 68, 79, 0.12);
  transition: all 0.3s;
}

.input input:hover,
.input input:focus {
  border: 1px solid black;
}

.input label {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  padding: 0 0.3rem;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.4);
  cursor: text;
  background-color: white;
  transition: all 0.3s;
}

.input input:focus ~ label {
  color: black;
  top: 0;
  font-size: 0.85rem;
}

.input img {
  right: 0;
  bottom: 0.4rem;
  width: 5.5rem;
  height: auto;
  position: absolute;
}
