.input {
  margin: 6rem 0 3rem 0;
}

.input input {
  width: 100%;
  outline: none;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1rem 1rem 2rem rgba(69, 68, 79, 0.12);
  transition: all 0.3s;
}

.input input:hover {
  border: 1px solid black;
}

.input input::placeholder {
  font-family: var(--serif-fontFamily);
  font-weight: 300;
}
