.userInfo {
  margin-bottom: 2.2rem;
  padding-bottom: 2.2rem;
  border-bottom: 1px dashed var(--border-color);
}

.userInfo img {
  width: 3.1rem;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.userInfo h1 {
  font-family: var(--user-fontFamily);
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.1rem;
}

.userInfo span {
  color: var(--text-color);
  font-size: 0.93rem;
  font-weight: 300;
  font-family: var(--user-fontFamily);
}
