.userInfo {
  background-color: white;
  border-radius: 1rem;
  height: 4.8rem;
  padding: 0 1rem;
  cursor: pointer;
}

.userInfo img {
  width: 2.85rem;
  height: 2.85rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.userInfo span {
  display: inline-block;
}

.userInfo h1 {
  font-family: var(--user-fontFamily);
  font-size: 1.3rem;
  font-weight: 300;
}

.userInfo h3 {
  color: var(--text-color);
  font-size: 1.05rem;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.date {
  background-color: white;
  border-radius: 1rem;
  height: 4.8rem;
  padding: 0 1rem;
}

.date img {
  width: 2.85rem;
  height: 2.85rem;
  margin-right: 0.5rem;
}

.date h1 {
  font-size: 1.35rem;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 145, 255);
}

.date h3 {
  font-size: 1rem;
  font-weight: 400;
}
