.weather img {
  margin-right: 0.5rem;
  height: 2.7rem;
  width: 2.7rem;
}

.celsius {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}

.region h3 {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 400;
}
