.todos {
  position: relative;
  width: 27rem;
  background-color: white;
  margin-top: 5rem;
  box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.22);
  padding: 2rem;
}

.row {
  margin-bottom: 2.2rem;
  padding-bottom: 2.2rem;
  border-bottom: 1px dashed var(--border-color);
}

.date span {
  color: var(--text-color);
}

.day {
  font-size: 2.7rem;
  margin-right: 0.5rem;
  font-weight: 300;
}

.month {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 0.2rem;
}

.yearAndWeek {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.addTodos button {
  position: absolute;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(11, 232, 166, 0.8);
  bottom: -2.2rem;
}

.addTodos button img {
  width: 2.3rem;
  height: auto;
}
