.todos {
  position: relative;
  width: 28rem;
  padding: 3rem 2rem 0 2rem;
  margin: 5rem 0;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
  background: url("../../assets/images/nature/nature.jpg") top center no-repeat;
  background-color: #ffffff;
  background-size: 100% 18.65rem;
}

.row {
  margin-bottom: 3rem;
}

.todoItem {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.todoItem:hover {
  background-color: white;
}

.todoItem h1 {
  font-size: 1.2rem;
  line-height: 1rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.todoItem h3 {
  font-size: 1.05rem;
  line-height: 1.2rem;
  font-weight: 400;
}

.addTodos {
  position: absolute;
  top: 16.75rem;
  left: 50%;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: 4px solid white;
  cursor: pointer;
  outline: none;
  background-color: #217303;
  transform: translateX(-50%);
}

.addTodos img {
  width: 1.5rem;
  height: auto;
}

.input {
  position: relative;
  margin: 6rem 0 2rem 0;
}

.input input {
  position: relative;
  width: 100%;
  outline: none;
  padding: 1.2rem 6rem 1.2rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.input input:hover,
.input input:focus {
  border: 1px solid black;
}

.input label {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  padding: 0 0.3rem;
  font-size: 0.9rem;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.4);
  cursor: text;
  background-color: white;
  transition: all 0.2s linear;
}

.input input:focus ~ label,
.input input:valid ~ label {
  color: black;
  top: 0;
  font-size: 0.8rem;
}

.input img {
  right: 0;
  bottom: 0.5rem;
  width: 5rem;
  height: auto;
  position: absolute;
}

.todo {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s;
}

.todo:hover {
  border: 1px solid black;
}

.todo:first-child {
  margin-top: 1rem;
}

.todo:last-child {
  margin-bottom: 2rem;
}

.title {
  width: 42%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--serif-fontFamily);
}

.date {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.delete img {
  width: 1.6rem;
  height: auto;
  cursor: pointer;
}

.edit {
  margin-right: 0.4rem;
}

.edit img {
  width: 1.257rem;
  height: auto;
  cursor: pointer;
  margin-top: 0.15rem;
}

.todo input {
  padding: 0.7rem 0.6rem;
  outline: none;
  width: 44%;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  font-family: var(--serif-fontFamily);
}

.todo input:hover,
.todo input:focus,
.todo input:valid {
  border: 1px solid rgb(0, 0, 0);
}
