.time {
  margin-bottom: 2.3rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed white;
}

.title h1 {
  font-size: 2rem;
  color: white;
  font-family: var(--user-fontFamily);
  text-shadow: 0 0 1.5rem black;
}

.time span {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 1.5rem black;
  font-family: var(--user-fontFamily);
}
