.time {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px dashed white;
}

.title h1 {
  font-size: 2.8rem;
  line-height: 2rem;
  color: white;
  font-family: var(--user-fontFamily);
  text-shadow: 0 0 1rem black;
}

.time h3 {
  font-size: 1.6rem;
  line-height: 1.1rem;
  color: white;
  text-shadow: 0 0 1rem black;
  font-family: var(--user-fontFamily);
}
